---
layout: page
---
{{ content }}

{% assign blogs = site.categories.blogs %}
{% if page.name != "index.md" %}
  {% assign tag_filter = page.name | remove: ".md" %}
  {% assign blogs = blogs | where_exp: "blog", "blog.tags contains tag_filter" %}
  <h2><a href="">&#35;{{ tag_filter }}</a></h2>
{% endif %}

<div class="blog-index">
  <ol reversed="reversed">
  {% for blog in blogs %}
    <li>
      <strong><a href="{{blog.url}}">{{ blog.title }}</a></strong>
      <div class="text-gray f6">{{ blog.date | date: "%B %d, %Y" }}
      {% assign tags = blog.tags | prepend: "&#35;" %}
      {% if blog.tags %}
        <b>|</b>
        <div class="tags">
          {% assign remaining = blog.tags.size %}
          {% for tag in blog.tags %}
            <u><a href="/blogs/tags/{{ tag }}">&#35;{{ tag }}</a></u>{% if remaining != 1 %},{% endif %}
            {% assign remaining = remaining | minus: 1 %}
          {% endfor %}
        </div>
      {% endif %}
      </div>
      <div class="excerpt">
        {{ blog.excerpt }}
        <a href="{{ blog.url }}">Read more...</a>
      </div>
    </li>
  {% endfor %}
  </ol>
</div>

<div class="center">
  <a href="/blogs/">All Blogs</a> | <a href="/blogs/tags/">All Tags</a>
</div>
