---
layout: default
---
<header class="site-header">
  <nav class="flexbox">
    <a href="#">Home</a> 
    <ul class="fullwidth">
      <li><a href="#">LINK_1</a></li>
      <li><a href="#">LINK_2</a></li>
      <li><a href="#">LINK_3</a></li>
    </ul>
  </nav>
</header>

{{ content }}

<div class="footer border-top border-gray-light mt-5 pt-3 text-center text-gray">
  <a href="/">Website Home</a>
  <b>|</b>
  <a href="{{ site.github.repository_url }}" target="_blank">Repository</a>
  <b>|</b>
  Published with <a href="https://pages.github.com">GitHub Pages</a>
</div>
