---
layout: default
---
<header id="masthead">
  <div class="inner-wrap">
    <a href="/" class="site-title"><img src="/images/{{ site.logo }}"/></a>
    <nav role="navigation" class="menu top-menu">
      <ul class="menu-item">
        <li class="home"><a href="/">Anurudh Peduri</a></li>
        {% for link in site.data.navigation %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url %}
          {% endif %}
          <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->

{{ content }}

<div class="footer border-top border-gray-light mt-5 pt-3 text-center text-gray">
  <a href="/">Website Home</a>
  <b>|</b>
  <a href="{{ site.github.repository_url }}" target="_blank">Repository</a>
  <b>|</b>
  Published with <a href="https://pages.github.com">GitHub Pages</a>
</div>
